* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform-style: preserve-3d;
  font-kerning: auto;
  outline: none;
}
::-moz-selection {
  color: white;
  text-shadow: #f70 1px 1px 0;
  background-color: #fc0;
}
::-webkit-selection {
  color: white;
  text-shadow: #f70 1px 1px 0;
  background-color: #fc0;
}
::selection {
  color: white;
  text-shadow: #07f 1px 1px 0;
  background-color: #fc0;
}
html,body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  background: black;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}
[type=button],[type=color],[type=number] {
  -webkit-appearance: none;
  appearance: none;
  width: auto;
  background: transparent;
  color: currentColor;
  border: 1px solid currentColor;
  border-radius: .2em;
  font-size: 12pt;
  padding: .25em .5em;
  cursor: pointer;
  transition: color .2s ease-in-out, border-color .2s ease-in-out;
}
[type=button] + [type=button] {
  margin-left: .5em;
}
[type=button]:hover,
[type=color]:hover,
[type=number]:hover {
  color: #0cf;
}
[type=button]:active,
[type=color]:focus,
[type=number]:focus {
  color: #fc0;
}
[type=color] {
  widtH: 100%;
}
header,aside,[for=toggle],#toggle,aside div label span,aside #texture ~ label span {
  position: absolute;
  z-index: 50;
  top: 0;
}
header {
  left: 0;
  width: 100%;
  padding: 0 2.5em .5em .5em;
  background: rgba(0,0,0,.7);
  transition: width .2s ease-in-out;
}
header input {
  margin-top: .5em;
}
header label {
  display: block;
  padding: .5em;
}
header span {
  font-size: 12pt;
}
[type=range] {
  margin-left: .5em;
}
aside,[for=toggle] {
  transition: right .2s ease-in-out;
}
aside {
  right: -300px;
  width: 300px;
  height: 100%;
  padding: 0 1em;
  background: rgba(0,0,0,.7);
}
aside {
  overflow-y: scroll;
}
aside label, aside div {
  margin: 1.5em .5em;
  display: block;
  position: relative;
}
aside div label {
  margin: 0;
  position: relative;
}
aside label, aside #texture ~ div {
  padding-left: 75px;
}
aside span {
  display: block;
  left: 0;
  margin: 0 0 1em 0;
  font-size: 12pt;
  font-weight: 600;
}
aside div label {
  margin-bottom: .5em;
}
aside #texture ~ label span {
  top: .25em;
}
aside div label span {
  top: .25em;
  font-weight: 400;
}
#texture ~ label span {
  top: 1em;
}
[type=color],[type=number] {
  max-width: 100%;
}
[for=toggle] {
  top: 0;
  right: .25em;
  font-size: 28pt;
  color: currentColor;
  cursor: pointer;
  z-index: 75;
}
[for=toggle]:hover {
  color: #0cf;
}
#toggle {
  display: none;
}
#toggle:checked ~ header {
  width: calc(100% - 300px);
}
#toggle:checked ~ [for=toggle] {
  right: calc(300px + .25em);
}
#toggle:checked ~ aside {
  right: 0;
}
main {
  background: #333;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  vertical-align: top;
  perspective: 900px;
  overflow: hidden;
}
#center {
  position: absolute;
  top: 50%;
  left: 50%;
}
#scene {
  width: 10000px;
  height: 10000px;
  transform: translateX(-5000px) translateY(-5000px) rotateX(60deg);
  transition: transform .25s;
}
#grid {
  width: 803px;
  height: 803px;
  top: 5000px;
  left: 5000px;
  background-image: linear-gradient(#ccc 3px, transparent 3px), linear-gradient(90deg, #ccc 3px, transparent 3px);
  background-size:100px 100px, 100px 100px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%); 
  position: absolute;
}
.texture_container {
  position: relative;
}
.texture_highlight {
  margin: 0;
  border: 3px solid red;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 600px) {
  header label {
    display: inline-block;
  }
}